.container{
    display: flex;
    height: 350px;
    padding: 2em;
}
.main{
    width: 3em;
    background-color: rgb(80, 128, 167);
}
.left{
    width: 20em;
    background-color: rgb(123, 180, 161);
}
.right{
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 1em;
    background-color: rgb(211, 196, 175);
    width: 10em;
}
.item{
    height: 100px;
    background-color: rgb(157, 214, 214);
}
